@import '../../assets/variables.scss';

.job {
    
  
    display: flex;
    justify-content: space-between;
    align-items: center;    
    border-radius: $border-radius-small;
    @include box-shadow-reg;
    background: rgb(250, 250, 250);
    padding: 1em;
    width: 90%;
    margin:2em auto;
    


    img {
        height: 1000px;
        width: 1000px;
        background-color: antiquewhite;
    }

    .hidden {
        display: none;
    }

    a {
        @include green-button;
        margin-right: 1em;
    }
}
