@import '../../assets/variables.scss';

.EditSchoolForm {
  margin: 2em 2em;

  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 2em;
    margin-top: 1em;

    input,
    textarea {
      @include input-big;
    }

    textarea {
      width: 50%;
      height: 15em;
    }

    input,
    select,
    textarea {
      margin-top: 0.5em;
    }

    label {
      margin-top: 1em;
    }

    button {
      @include green-button;
    }
  }
}