h3 {
    font-size: 20px;
    color: green;
}
.application {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.school-profile {
    text-align: left;
}

.teacher-profile {
    text-align: left;
}
