/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom */

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans",
  sans-serif;
  color: #444;
  text-align: center;
  background: rgb(224, 224, 224);
}

header {
  background: rgb(177, 177, 177);
  padding: 1em 0;
}

h1 {
  font-size: 1.4em;
  font-weight: bold;
  margin: 2em 0;
}

h2 {
  font-size: 1.2em;
  font-weight: bold;
}

a {
    cursor: pointer;
    font-weight: normal;
}

input[type="range"] {
    -webkit-appearance: slider-horizontal;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

.applications-container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.inner-container {    
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

.application {
  display: flex;
  border-radius: 5px;
  background: rgb(255, 255, 255);
  width: 92%;
  margin: 1em auto;
  padding: 2em;
  justify-content: space-around;
}

/* Breadcrumb */
.breadcrumb {
  list-style: none;
  margin: 1em 4%;
}
.breadcrumb .icon {
  font-size: 14px;
}
.breadcrumb li {
  float: left;
}
.breadcrumb li a {
  color: #fff;
  display: block;
  background: #3498db;
  text-decoration: none;
  position: relative;
  height: 40px;
  line-height: 40px;
  padding: 0 10px 0 5px;
  text-align: center;
  margin-right: 23px;
}
.breadcrumb li:nth-child(even) a {
  background-color: #2980b9;
}
.breadcrumb li:nth-child(even) a:before {
  border-color: #2980b9;
  border-left-color: transparent;
}
.breadcrumb li:nth-child(even) a:after {
  border-left-color: #2980b9;
}
.breadcrumb li:first-child a {
  padding-left: 15px;
  border-radius: 4px 0 0 4px;
}
.breadcrumb li:first-child a:before {
  border: none;
}
.breadcrumb li:last-child a {
  padding-right: 15px;
  border-radius: 0 4px 4px 0;
}
.breadcrumb li:last-child a:after {
  border: none;
}
.breadcrumb li a:before, .breadcrumb li a:after {
  content: "";
  position: absolute;
  top: 0;
  border: 0 solid #3498db;
  border-width: 20px 10px;
  width: 0;
  height: 0;
}
.breadcrumb li a:before {
  left: -20px;
  border-left-color: transparent;
}
.breadcrumb li a:after {
  left: 100%;
  border-color: transparent;
  border-left-color: #3498db;
}
.breadcrumb li a:hover {
  background-color: #1abc9c;
}
.breadcrumb li a:hover:before {
  border-color: #1abc9c;
  border-left-color: transparent;
}
.breadcrumb li a:hover:after {
  border-left-color: #1abc9c;
}
.breadcrumb li a:active {
  background-color: #16a085;
}
.breadcrumb li a:active:before {
  border-color: #16a085;
  border-left-color: transparent;
}
.breadcrumb li a:active:after {
  border-left-color: #16a085;
}

@media screen and (max-width: 560px) {
  .applicant-experience {
    display: none;
  }
}