@import '../../assets/variables.scss';

.NavBar {
  background: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2vw;
  // @include box-shadow-reg;
  height: 3.4em;

  .active {
    color: $accent-color;
  }

  #logo {
    height: 1em;
    width: auto;
    margin-right: .4em;
  }

  h1 {
    color: rgb(245, 245, 245);
  }

  a {
    color: rgb(180, 180, 180);
    text-decoration: none;
  }

  ul {
    display: flex;
    list-style-type: none;
    align-items: center;

    .highlighted-btn {
      @include border-button;
    }

    li {
      margin-left: 2em;
    }
  }
}