@import '../../assets/variables.scss';

.ApplicationsPage {
    font-family: 'Monserrat', sans-serif;font-weight: 500;
    padding: 1em;
    display: flex;
    flex-direction: column;
    text-align: center;
    h2 {
    margin-bottom: 1em;
    color: $accent-color;
    }
}

.ApplicationsPage {
    .ApplicationCardsList {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.ApplicationCard {
    background: $white;
    margin: 2em 0em;
    @include border-button;
}

.ApplicationCard a {
    line-height: 1.2em;
    text-decoration: none;
    color: black;
}

}