/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom */

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans",
  sans-serif;
  color: #444;
  text-align: center;
  background: rgb(224, 224, 224);
}
header {
  background: rgb(177, 177, 177);
  padding: 1em 0;
}
h1 {
  font-size: 1.4em;
  font-weight: bold;
  margin: 2em 0;
}
h2 {
  font-size: 1.2em;
  font-weight: bold;
}
h3 {
  font-size: 1.1em;
	font-weight: bold;
	margin: 1.1em 0;
}
input {
	border-radius: 10px;
	border: none;
	background: rgb(209, 209, 209);
	font-size: 1em;
	padding: .2em 1em;
}
.SchoolInfo__top {
	border: 1px solid rgba(255, 0, 0, 0);
}
.SchoolInfo__name {
	margin: 2em;
}
.SchoolInfo__name input {
	font-size: 1.4em;
	padding: .2em;
}
.SchoolInfo__section {
	display: flex;
	margin: 0 4%;
}
.SchoolInfo__section .school-picture {
	/* border: 1px solid grey; */
	background: rgb(204, 204, 204);
	border-radius: 10px;
	flex: 1;
	height: 20em;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
.school-picture span {
	position: absolute;
	top: 1em;
	right: 1em;
}
.school-picture span:hover {
	cursor: pointer;
}
.SchoolInfo__section ul {
	/* border: 1px solid grey; */
	border-radius: 10px;
	background: rgb(255, 255, 255);
	/* width: 100%; */
	text-align: left;
	flex: 2;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: 2em;
	padding: 2em 2em;
}
.SchoolInfo button {
	padding: .8em 2em;
	border-radius: 10px;
	margin: 2em;
	font-size: 1em;
	background: rgb(189, 189, 189);
}
.SchoolInfo button:hover {
	cursor: pointer;
	background: rgb(136, 136, 136);
}
.image-upload-modal {
	border-radius: 10px;
	background: rgb(218, 218, 218);
	height: 20em;
	width: 30%;
	margin: auto;
	padding: 2em;
  /* position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	display: none; */
}

/* Breadcrumb */
 .breadcrumb {
	 position: absolute;
	 left: 4%;
	 margin-top: 2em;
	 list-style: none;
	 /* display: inline-block; */
}
 .breadcrumb .icon {
	 font-size: 14px;
}
 .breadcrumb li {
	 float: left;
}
 .breadcrumb li a {
	 color: #fff;
	 display: block;
	 background: #3498db;
	 text-decoration: none;
	 position: relative;
	 height: 40px;
	 line-height: 40px;
	 padding: 0 10px 0 5px;
	 text-align: center;
	 margin-right: 23px;
}
 .breadcrumb li:nth-child(even) a {
	 background-color: #2980b9;
}
 .breadcrumb li:nth-child(even) a:before {
	 border-color: #2980b9;
	 border-left-color: transparent;
}
 .breadcrumb li:nth-child(even) a:after {
	 border-left-color: #2980b9;
}
 .breadcrumb li:first-child a {
	 padding-left: 15px;
	 border-radius: 4px 0 0 4px;
}
 .breadcrumb li:first-child a:before {
	 border: none;
}
 .breadcrumb li:last-child a {
	 padding-right: 15px;
	 border-radius: 0 4px 4px 0;
}
 .breadcrumb li:last-child a:after {
	 border: none;
}
 .breadcrumb li a:before, .breadcrumb li a:after {
	 content: "";
	 position: absolute;
	 top: 0;
	 border: 0 solid #3498db;
	 border-width: 20px 10px;
	 width: 0;
	 height: 0;
}
 .breadcrumb li a:before {
	 left: -20px;
	 border-left-color: transparent;
}
 .breadcrumb li a:after {
	 left: 100%;
	 border-color: transparent;
	 border-left-color: #3498db;
}
 .breadcrumb li a:hover {
	 background-color: #1abc9c;
}
 .breadcrumb li a:hover:before {
	 border-color: #1abc9c;
	 border-left-color: transparent;
}
 .breadcrumb li a:hover:after {
	 border-left-color: #1abc9c;
}
 .breadcrumb li a:active {
	 background-color: #16a085;
}
 .breadcrumb li a:active:before {
	 border-color: #16a085;
	 border-left-color: transparent;
}
 .breadcrumb li a:active:after {
	 border-left-color: #16a085;
}
