@import '../../assets/variables.scss';

.SchoolProfile {
  padding: 1em;
  h2 {
    margin-bottom: 1em;
  }
  ul, p {
    margin-bottom: 2em;
  }
  li {
    line-height: 1.2em;
  }
  a {

    @include green-button;
  }
}